/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.custom-nav .custom-link {
  font-size: 14px; /* Decrease font size */
  color: #000; /* Default color */
  border: none; /* Remove default border */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  border-bottom: 3px solid transparent; /* Default transparent underline */
  cursor: default; /* Prevent pointer cursor */
  text-decoration: none; /* Remove any text decoration */
}

.custom-nav .custom-link.active {
  color: #007bff; /* Active tab color */
  border-bottom: 3px solid #007bff; /* Blue underline for the active tab */
  font-weight: bold; /* Make the active tab bold if needed */
}


.no-underline {
  text-decoration: none !important; /* Remove text underline */
  padding: 0; /* Adjust padding if needed */
}



